// sizes
$wrapper_maxWidth: 1660px;
$wrapper_width: calc(100% - 240px);

// colors
$accent_color: #2db46b;
$grey: #fbfbfb;
$gray: $grey;

// mixins
@mixin button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
