body {
    margin: 0;
    padding: 0;

    * {
        font-family: Roboto;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 56px;

        color: #000000;
    }
    h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;

        color: #A8A8A8;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    input {
        height: 41px;
        padding: 0 7px;
        background-color: #F2F2F2;
        border: 1px solid #B5B5B5;
        border-radius: 5px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        color: #606060;
        outline: none;

        transition: color .35s ease;
        
        &:focus {
            color: #000;
        }
    }
    button {
        background-color: #F2F2F2;
        border: 1px solid #B5B5B5;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 15px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        text-align: center;

        color: #606060;

        outline: none;

        transition: background-color .35s ease;
        &:hover {
            cursor: pointer;
            background-color: #fafafa;
            transition: background-color .05s ease;
        }

        &:disabled, button[disabled] {
            cursor: not-allowed;

            color: #c3c3c3;
            background-color: #F2F2F2;
            border: 1px solid #e3e3e3;
        }
    }
}

.fieldset {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 16px;
    &__label {
        margin-right: 16px;
    }
    &__title {
        font-size: 24px;
        color: gray;
        margin: 0 0 16px 0;
        border-bottom: 1px solid black;
        display: inline-block;
    }
}
.fieldsetGroup {
    margin-bottom: 36px;

    .fieldset {
        &__input {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &.wl-25 {
        .fieldset__label {
            width: 25%;
        }
    }
    &.wl-15 {
        .fieldset__label {
            width: 15%;
        }
    }

    &.wi-5 {
        .fieldset__input {
            width: 5%;
        }
    }
    &.wi-10 {
        .fieldset__input {
            width: 10%;
        }
    }
}

@media (max-width: 1440px) {
    body {
        h2 {
            font-size: 36px;
            line-height: 44px;
        }
        button {
            font-size: 16px;
        }
    }
}